@import './../../../../styles/variables';

app-card {
  button {
    background-color: $settings-grey-one;
  }

  .card {
    height: 100%;

    button {
      background-color: $settings-grey-two;
    }
  }
}

label {
  display: block;
  font-size: 12px;
  transform: perspective(100px) translateZ(0.001px);
}

.value-range {
  > .slider {
    display: flex;
    align-items: center;
    justify-content: center;

    .mat-mdc-slider {
      width: 100%;
    }
  }
}

.warning {
  margin-left: 16px;
  color: $orange;
}

::ng-deep {
  .mat-tooltip-lighter .mdc-tooltip__surface {
    background-color: $settings-grey-two;
  }
}
