@import './../../../../../../styles/variables';

.purpel {
  color: $purple;
}

.blue {
  color: $blue;
}

.fractured {
  color: $fractured;
}

.scourge {
  color: $scourge;
}

.crucible {
  color: $crucible;
}

.mutated {
  color: $mutated;
}

::ng-deep {
  app-item-frame-stats {
    .cold {
      .value,
      .value.changed {
        color: $damage-cold;

        .text {
          color: $damage-cold !important;
        }
      }
    }

    .lightning {
      .value,
      .value.changed {
        color: $damage-lightning;

        .text {
          color: $damage-lightning !important;
        }
      }
    }

    .chaos {
      .value,
      .value.changed {
        color: $damage-chaos;

        .text {
          color: $damage-chaos !important;
        }
      }
    }

    .fire {
      .value,
      .value.changed {
        color: $damage-fire;

        .text {
          color: $damage-fire !important;
        }
      }
    }
  }
}
