@import './../../../../../../styles/variables';

.row .mat-mdc-raised-button {
  background-color: $settings-grey-one;
}


label {
  display: block;
  font-size: 12px;
  transform: perspective(100px) translateZ(0.001px);
}
