@import './../../../../../../styles/variables';

.card, button {
  background-color: $settings-grey-one;
}

.card {
  position: relative;

  button {
    background-color: $settings-grey-two;
  }
}

label {
  display: block;
  color: $label-color;
  font-size: 12px;
  transform: perspective(100px) translateZ(0.001px);
}
