@import './../../../../../styles/variables';

.viewport.wide {
    width: 430px;
}

table {
  width: 100%;

  th,
  td {
    padding: 0;
  }

  &.header {
    border-bottom: 1px solid $light-dark-grey;
  }

  .seller {
    width: 100%;
  }

  .amount {
    min-width: 70px;
    text-align: right;

    .value {
      color: $light-grey;
    }
  }

  .age {
    min-width: 115px;
  }

  .fixer {
    color: $red;
  }

  .tradetype {
    width: 16px;
    height: 16px;
    display: inline-flex;
    background-repeat: no-repeat;
    background-size: contain;

    &.instantbuyout {
      background-image: url(../../../../../assets/poe/item/instantbuyout.png);
    }

    &.whisper {
      background-image: url(../../../../../assets/poe/item/whisper.png);
    }
  }
}
