<div [class]="getHeaderClass(item)">
  <div class="center-bg">
    <div class="name" *ngIf="item.name">
      <app-item-frame-query [(property)]="queryItem.name" [value]="item.name" [disabled]="!queryable">
        <ng-container [ngSwitch]="getNameLabelName(item)">
          <span *ngSwitchCase="1">{{ ('MutatedUniqueName' | clientString: language).replace('{0}', item.name) }}</span>
          <span *ngSwitchDefault>{{ item.name }}</span>
        </ng-container>
      </app-item-frame-query>
    </div>
    <div class="name" *ngIf="item.typeId">
      <app-item-frame-query [(property)]="queryItem.typeId" [value]="item.typeId" [disabled]="!queryable">
        <ng-container [ngSwitch]="getNameLabelType(item)">
          <span *ngSwitchCase="1">{{ ('InfectedMap' | clientString: language).replace('{0}', (item.typeId | baseItemType: language)) }}</span>
          <span *ngSwitchCase="2">{{ ('UberInfectedMap' | clientString: language).replace('{0}', (item.typeId | baseItemType: language)) }}</span>
          <span *ngSwitchCase="3">{{ ('GemAlternateQuality' + item.properties.gemQualityType + 'Affix' | clientString: language).replace('{0}', (item.typeId | baseItemType: language)) }}</span>
          <span *ngSwitchDefault>{{ item.typeId | baseItemType: language }}</span>
        </ng-container>
      </app-item-frame-query>
    </div>
  </div>
</div>
