<ng-container *ngIf="(userSettings$ | async) as userSettings">
  <ng-container *ngIf="(gameOverlayBounds | async) as gameOverlayBounds">
    <div class="game-overlay"
         [style.left.px]="gameOverlayBounds.x"
         [style.top.px]="gameOverlayBounds.y"
         [style.width.px]="gameOverlayBounds.width"
         [style.height.px]="gameOverlayBounds.height">
      <app-stash-grid [settings]="userSettings"></app-stash-grid>
      <div class="version" *ngIf="userSettings.displayVersion">PoE Overlay: {{ version$ | async }}</div>
    </div>
    <app-trade-notifications-panel [settings]="userSettings"
                                   [gameBounds]="gameOverlayBounds"
                                   (openSettings)="openUserSettings()">
    </app-trade-notifications-panel>
    <app-vendor-recipes-panel [settings]="userSettings"
                             [gameBounds]="gameOverlayBounds"
                             (openSettings)="openUserSettings()">
    </app-vendor-recipes-panel>
    <div class="game-overlay"
         id="snack-bar-container"
         [style.left.px]="gameOverlayBounds.x"
         [style.top.px]="gameOverlayBounds.y"
         [style.width.px]="gameOverlayBounds.width"
         [style.height.px]="gameOverlayBounds.height">
    </div>
  </ng-container>
</ng-container>
